body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

img {
    width:60px;
    height:60px;
    border-radius: 50%;
    display: inline;
}

#list>div {
    display: flex;
    padding: 12px;
}

#list>div>div {
    padding: 8px;
}

p {
    margin: 0;
    padding: 4px 0;
}

/* begin event */
/* CWD Localist Events
   ************************************ */
   
   .events-listing {
    position: relative;
    float: left;
    width: 100%;
    margin: 1em 0 2em;
    min-height: 120px;
}
.events-listing .node {
    float: left;
    width: 100%;
    margin: 1em 0 2em;
}
.events-listing .node h3 {
    margin-bottom: 8px;
    font-family: Avenir Next, Proxima Nova, 'proxima-nova', Segoe UI Bold, Helvetica Neue, sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.events-listing h4 {
    text-transform: none;
}
.events-listing .description {
    clear: right;
    padding-left: 112px; /* disable to allow description text to wrap around the thumbnail */
    font-size: 13px;
}
.events-listing.hide-descriptions .description {
    float: left;
    width: 100%;
    clear: both;
    padding: 0 !important;
}
.events-listing .description-content {
    padding: 0 1em 1em;
}
.events-listing .description :last-child {
    margin-bottom: 0;
}
.events-listing .event-image {
    width: 100px;
    height: auto;
    float: left;
    margin: 0 12px 0 0;
}
.events-listing .meta {
    font-weight: normal;
    font-size: 1em;
    color: #666;
    margin-bottom: 12px;
}
.events-listing .type {
    float: left;
    display: none;
}
.events-listing .location {
    float: right;
}
.events-listing .date {
    float: right;
    margin-left: 20px;
}
.events-listing .date .fulldate {
    margin-right: 5px;
}


/* event details toggle */
.events-listing .event-details {
    /*float: left;*/
    clear: right;
    padding-left: 112px; /* disable to allow this button to clear the thumbnail */
}
.events-listing .event-details .fa {
    font-size: 7px;
    /*background: #3787b0;*/
    background: #f0eada;
    color: #99802b;
    padding: 3px;
    margin-right: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    top: -2px;
}
@-moz-document url-prefix() { /* FF */
    .events-listing .event-details .fa {
        font-size: 7.1px;
    }
}
.events-listing .event-details a {
    text-decoration: none;
}
.events-listing .event-details a:hover .fa {
    background: #f8f4ec;
    /*background: rgba(0,0,0,0.7);*/
    color: #000;
}
.events-listing .event-details h4 {
    font-size: 11px;
    font-weight: 400;
}

/* month and day headers */
.events-listing .month-header {
    text-align: center;
    color: #fff;
    background: #6c973e;
    float: left;
    width: 100%;
    padding: 9px 0;
    margin-top: 12px;
    font-size: 20px;
}
.events-listing .day-header {
    font-size: 14px;
    border-top: 1px solid #e0e0e0;
    padding: 10px 0 5px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    background: #fff;
    background: -moz-linear-gradient(45deg,  #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(45deg,  #ffffff 0%,#f2f2f2 100%);
    background: -o-linear-gradient(45deg,  #ffffff 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(45deg,  #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(45deg,  #ffffff 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 );
    font-family: Avenir Next, Proxima Nova, 'proxima-nova', Segoe UI Semibold, Helvetica Neue, sans-serif;
    font-weight: 500;
}
/*
.events-listing .month-header + .day-header {
    border: 0;
    padding-top: 15px;
    margin-top: -12px;
}
*/
.events-listing .day-header .fa:before {
    font-size: 14px;
    margin: 0 8px 0 0;
    color: #555;
    padding-left: 1px;
}


/* Category Filters
   -------------------- */
#events-filters {
    float: left;
    width: 100%;
    margin: 10px 0;
}
#events-filters ul {
    margin: 0;
}
#events-filters h3 {
    float: left;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 2px 8px 2px 0;
}
ul.events-filters li {
    float: left;
    list-style: none;
    background: none;
    line-height: 24px;
    margin: 0 5px 5px 0;
    padding: 0;
}
ul.events-filters li button {
    float: left;
    padding: 5px 13px 3px;
    background: #e7eff3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none !important;
    border-style: none;
}
ul.events-filters li button.active {
    color: #fff !important;
    background: #5589aa !important;
}
ul.events-filters li button:hover {
    background: #d3e1e8;
    color: #000;
}

/* Animated Loading Icon
   -------------------- */
#loader {
    /*display: none;*/
    position: absolute;
    left: 45%;
    left: calc(50% - 25px); 
    top: 60px;
    width: 50px;
    text-align: center;
    font-size: 24px;
    color: #ccc;
    color: rgba(0,0,0,0.2);
}

/* Compact Mode
   -------------------- */
.events-listing.compact #events-filters {
    display: none;
}
.events-listing.compact {
    margin-top: 0;
}
.events-listing.compact .node {
    border-bottom: 1px solid #e0e0e0;
    margin: 0.5em 0 0.6em;
}
.events-listing.compact .node:last-child {
    border: 0;
}
.events-listing.compact .node h3 {
    font-size: 14px;
}
.events-listing.compact .meta {
    font-size: 13px;
}
.events-listing.compact .location {
    float: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.events-listing.compact .description {
    font-size: 11px;
}
.events-listing.compact .description, .events-listing.compact .event-details, 
.events-listing.no-thumbnails .description, .events-listing.no-thumbnails .event-details {
    padding-left: 0;
    clear: both;
}
.events-listing.compact .date .fulldate {
    margin: 0 0 0 5px;
    padding: 3px 7px;
    margin-top: -3px;
    float: right;
    background: #f2f2f2;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}


/* Extras
   ************************************ */


.events-listing .type .fa:before {
    margin-right: 5px;
    content: '\f124';
    font-size: 14px;
}
/* 
.events-listing .type {
    display: none;
}
 */
.events-listing .location {
    float: left;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.events-listing.compact .location {
    width: 70%;
}
/*
.events-listing.compact .date .fulldate {
    color: #fff;
    background: #64b1e4;
}
*/
.events-listing.compact .date .start {
    display: none;
}
.events-listing.compact .description {
    display: none;
}
#nymap {
    float: right;
    margin: -15px 0 0 50px;
}
img[usemap], map area {
    outline: none;
}
/* compact filters */
ul.events-filters {
    width: 100%;
    float: left;
}
ul.events-filters li {
    margin-right: 4px;
}
ul.events-filters li:last-child {
    border: 0;
    margin-right: 0;
}
ul.events-filters li a {
    padding: 2px 10px 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
}
.win ul.events-filters li {
    margin-right: 2px;
}
.win ul.events-filters li:last-child {
    margin-right: 0;
}
.win ul.events-filters li a {
    padding: 2px 8px 1px;
}

/* calendar */
/***** Events *****/
.event-month-and-day {
    text-align: center;
    line-height: 17px;
    border-left: 4px solid #b31b1b;
    border-right: 1px solid #eee;
    padding: 3px 0 8px 8px;
    margin-left: 18px;
    margin-top: 4px;
}
.event-month-and-day .event-month {
    float: left;
    text-transform: uppercase;
    color: #999;
    display: block;
    font-size: 12px;
    padding-left: 4px;
}
.event-month-and-day .event-day {
    clear: both;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    display: block;
    letter-spacing: -3px;
    text-align: left;
}
.event-month-and-day .event-day sup {
    top: -6px;
    font-size: 10px;
    margin-left: 3px;
    letter-spacing: .005em;
}
.event-title-and-location a {
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 7px;
    display: inline-block;
    text-align: left;
}
.event-title-and-location a:focus,
.event-title-and-location a:hover {
    text-decoration: none !important;
}
.event-title-and-location .event-location,
.event-title-and-location .event-times {
    padding: 0 7px;
}
#events-listing.events-listing {
    background: #fff;
    padding: 16px 10px 16px 6px;
    margin-bottom: 0;
    margin-top: 0;
    /*padding-bottom: 114px;*/
}
#block-eventsblock {
    padding: 22px;
}
#block-eventsblock h2 {
    color: #000;
    margin: 8px 0 0 0;
    font-size: 34px;
    float: none;
    background: #fff;
    padding: 13px 0 10px 20px;
}
#events-listing.events-listing .events-list .views-row {
    margin-bottom: 23px;
}
#events-listing.events-listing .events-list .event-title-and-location {
    width: 74.66667%;
}

@media (min-width: 768px){
.col-sm-2 {
    width: 16.66667%;
}
}

@media (min-width: 768px){
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
}

.col-sm-8.event-title-and-location {
    /* min-width: 62%; */
    word-wrap: break-word;
    width: 300px;
    padding: 10px;
}
.views-row {
    max-width: 500px;
}

span.fa.fa-clock-o {
    margin-right: 10px;
}


span.fa.fa-map-marker {
    margin-right: 10px;
}

/* end of calendar */



/* psw css */
/* 
    Created on : May 10, 2018, 9:40:45 AM
    Author     : PSW58
*/
.container{
    width: 66%;
    margin: 20px auto;
    height: auto;
    max-width: 660px;
}

#main-body{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: solid 1px #ccc;
}

.event-subscribe{
    float: right;
    font-size: 13px;
    padding-bottom: 20px;
}

.event-subscribe > a{
    font-size: 20px;
    padding-right: 8px;
    color: #111;
    text-decoration: none;
    display: inline-block !important;
}

.event-subscribe a:first-child{
    padding-left: 10px;
}

.google{
    color:#3cba54 !important;
}

.microsoft{
    color:#00a4ec !important;
}

.apple{
    color: #545a5f !important;
}

/* required change to visually hidden*/
.hidden {
    position: absolute;
    left: -10000em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/*@ todo make this actually fade out */
.fadeOut { 
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 300, opacity 300 linear;
    display:none;
  }

.fadeIn { 
    visibility: visible;
    opacity: 1;
    transition: opacity 300 linear;
    display: block;
  }

 .events a {
    margin-bottom: 20px;
}

#event_subscribe > a > span.ext,
#events-listing > div.events-list > div > div > a > span{
    display:  none !important;
}

#event_subscribe > a{
    background: none;
    box-shadow: none;
}