/* "All-Purpose" Card Slider
   ************************************ */
.card-slider {
  position: relative;
}

.card-slider.slide-mobile {
  padding-top: 30px;
  background: radial-gradient(ellipse at center top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0) 60%), radial-gradient(ellipse at center bottom, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0) 40%);
}

.card-slider.no-background {
  background: none;
}

.card-slider .mask {
  overflow: hidden;
}

.card-slider .cards {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 30px;
}

.card-slider.slide-mobile .cards {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  touch-action: pan-y;
}

.card-slider.slide-mobile.scripted .cards {
  overflow-x: hidden !important;
}

.card-slider.slide-mobile.scripted.free-scroll .cards {
  overflow-x: auto !important;
}

.card-slider .card {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-bottom: 3em;
  position: relative;
}

.card-slider.min-2 .card {
  width: 50%;
}

/* Next and Previous buttons */
.card-slider-padded {
  padding: 0 42px;
}

.card-slider-padded .card-slider {
  margin-left: -42px;
  margin-right: -42px;
}

.card-slider-padded .slide-mobile {
  margin-left: 0;
  margin-right: 0;
}

.card-slider .next-prev {
  position: absolute;
  top: 50%;
  top: calc(50% - 30px);
  width: 100%;
  display: none;
}

.card-slider.slide-mobile .next-prev {
  display: block;
}

.card-slider .next-prev button {
  -webkit-appearance: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  height: 60px;
  width: 31px;
  font-size: 32px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 0;
}

.card-slider .next-prev button:hover, .card-slider .next-prev button:focus {
  background: rgba(0, 0, 0, 0.6);
}

.card-slider .next-prev button:active {
  background: rgba(0, 0, 0, 0.9);
}

.card-slider .next-prev button:disabled, .card-slider .next-prev button:disabled:hover, .card-slider .next-prev button:disabled:active {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.3;
  cursor: default;
}

.card-slider .prev {
  left: -50px;
  left: calc(-42px - 15px + 7px);
}

.card-slider .next {
  right: -50px;
  right: calc(-42px - 15px + 7px);
}

.card-slider .next-prev .prev {
  padding-right: 2px;
}

.card-slider .next-prev .next {
  padding-left: 2px;
}

.card-slider .next-prev .fa {
  line-height: 1.2;
}

/* Slide Indicator Pips */
.card-slider .pips {
  width: 100%;
  text-align: center;
  position: relative;
  top: -20px;
  display: none;
}

.card-slider.slide-mobile .pips {
  display: block;
}

.card-slider .pips button {
  -webkit-appearance: none;
  background: none;
  border: 0;
  margin: 0;
  padding: 2px;
  opacity: 0.2;
  cursor: pointer;
}

.card-slider .pips button:before {
  content: '';
  display: block;
  background: #000;
  width: 7px;
  height: 7px;
  border-radius: 100em;
}

.card-slider .pips button:hover, .card-slider .pips button:focus {
  opacity: 0.5;
}

.card-slider .pips button:active, .card-slider .pips button.active {
  opacity: 1 !important;
}

.card-slider.pips-large .pips {
  top: -17.1428571429px;
}

.card-slider.pips-large .pips button:before {
  width: 9px;
  height: 9px;
}

@media (min-width: 480px) {
  .card-slider.max-5 .card {
    width: 50%;
    margin-bottom: 0;
  }

  .card-slider.max-6 .card {
    width: 50%;
    margin-bottom: 0;
  }
}
@media (min-width: 624px) {
  .card-slider.max-4 .card {
    width: 50%;
    margin-bottom: 0;
  }

  .card-slider.max-6 .card {
    width: 33.333333333333333%;
  }
}
@media (min-width: 768px) {
  .card-slider-padded {
    padding: 0 60px;
  }

  .card-slider-padded .card-slider {
    margin-left: 0;
    margin-right: 0;
  }

  .card-slider {
    padding-top: 30px;
    background: radial-gradient(ellipse at center top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 60%), radial-gradient(ellipse at center bottom, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 40%);
  }

  .card-slider .prev {
    left: -60px;
  }

  .card-slider .next {
    right: -60px;
  }

  .card-slider .cards {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: -30px;
    margin-right: -30px;
    touch-action: pan-y;
  }

  .card-slider.scripted .cards {
    overflow-x: hidden !important;
  }

  .card-slider.scripted.free-scroll .cards {
    overflow-x: auto !important;
  }

  .card-slider .card {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
  }

  .card-slider.max-1 .card, .card-slider.max-2 .card {
    width: 100%;
  }

  .card-slider.max-5 .card {
    width: 33.333333333333333%;
  }

  .card-slider.max-6 .card {
    width: 25%;
  }

  .card-slider .pips, .card-slider .next-prev {
    display: block;
  }
}
@media (min-width: 992px) {
  .card-slider.max-2 .card {
    width: 50%;
  }

  .card-slider.max-4 .card {
    width: 33.333333333333333%;
  }

  .card-slider.max-5 .card {
    width: 25%;
  }

  .card-slider.max-6 .card {
    width: 20%;
  }
}
@media (min-width: 1080px) {
  .card-slider .card {
    width: 33.333333333333333%;
  }
}
@media (min-width: 1200px) {
  .card-slider.max-4 .card {
    width: 25%;
  }

  .card-slider.max-5 .card {
    width: 20%;
  }

  .card-slider.max-6 .card {
    width: 16.666666666666667%;
  }

  .card-slider.pips-large .pips {
    top: -15px;
  }

  .card-slider.pips-large .pips button {
    padding: 3px;
  }

  .card-slider.pips-large .pips button:before {
    width: 11px;
    height: 11px;
  }
}

/*# sourceMappingURL=cwd_card_slider.css.map */
