/* Drupal-Specific Styles
   ************************************ */
.icon-fa {
  font: normal normal normal 14px/1 FontAwesome;
  speak: none;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zmdi, .search-help-link:before, .simplesamlphp-auth-login-link:before {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

button .glyphicon-log-in, button .glyphicon-eye-open {
  display: none;
}

#main nav.tabs {
  margin-bottom: 1.5em;
}

.navbar-static-top {
  z-index: auto;
}

/* Tabs and Simple Menus (Local Tasks, Base Tools, Account Menu, Local Actions, Admin, Login links) */
.block {
  margin-bottom: 2.5em;
}

.secondary .block {
  clear: both;
  float: left;
  width: 100%;
}

*[id^='block-'][id$='-admin'] > ul,
*[id^='block-'][id$='-login'] > ul,
*[id^='block-'][id$='-local-tasks'] > ul,
*[id^='block-'][id$='-tools'] > ul,
*[id^='block-'][id$='-account-menu'] > ul,
*[id^='block-'][id$='-local-actions'] > ul {
  padding: 0 2px;
  margin: 0 -4px 2.5em -4px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  clear: both;
}

*[id^='block-'][id$='-admin'] > ul li,
*[id^='block-'][id$='-login'] > ul li,
*[id^='block-'][id$='-local-tasks'] > ul li,
*[id^='block-'][id$='-tools'] > ul li,
*[id^='block-'][id$='-account-menu'] > ul li,
*[id^='block-'][id$='-local-actions'] > ul li {
  float: left;
  background: none;
  padding: 0;
  margin: 0 2px 6px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Avenir Next, "Segoe UI", Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  width: 100%;
}

*[id^='block-'][id$='-admin'] > ul a,
*[id^='block-'][id$='-login'] > ul a,
*[id^='block-'][id$='-local-tasks'] > ul a,
*[id^='block-'][id$='-tools'] > ul a,
*[id^='block-'][id$='-account-menu'] > ul a,
*[id^='block-'][id$='-local-actions'] > ul a {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 12px;
  border-left: 2px solid #e0e4e7;
  background: none;
}

*[id^='block-'][id$='-admin'] > ul a:hover, *[id^='block-'][id$='-admin'] > ul a:focus,
*[id^='block-'][id$='-login'] > ul a:hover, *[id^='block-'][id$='-login'] > ul a:focus,
*[id^='block-'][id$='-local-tasks'] > ul a:hover, *[id^='block-'][id$='-local-tasks'] > ul a:focus,
*[id^='block-'][id$='-tools'] > ul a:hover, *[id^='block-'][id$='-tools'] > ul a:focus,
*[id^='block-'][id$='-account-menu'] > ul a:hover, *[id^='block-'][id$='-account-menu'] > ul a:focus,
*[id^='block-'][id$='-local-actions'] > ul a:hover, *[id^='block-'][id$='-local-actions'] > ul a:focus {
  border-color: #b1c7d7;
  background: none;
}

*[id^='block-'][id$='-admin'] > ul a.is-active,
*[id^='block-'][id$='-login'] > ul a.is-active,
*[id^='block-'][id$='-local-tasks'] > ul a.is-active,
*[id^='block-'][id$='-tools'] > ul a.is-active,
*[id^='block-'][id$='-account-menu'] > ul a.is-active,
*[id^='block-'][id$='-local-actions'] > ul a.is-active {
  color: #000;
  font-weight: bold;
  border-color: #497ea4;
  text-decoration: none;
}

#main article *[id^='block-'][id$='-local-tasks'] > ul,
#main article *[id^='block-'][id$='-tools'] > ul,
#main article *[id^='block-'][id$='-account-menu'] > ul,
#main article *[id^='block-'][id$='-local-actions'] > ul {
  border-bottom: 2px solid #bbd0df;
}

#main article *[id^='block-'][id$='-local-tasks'] > ul li,
#main article *[id^='block-'][id$='-tools'] > ul li,
#main article *[id^='block-'][id$='-account-menu'] > ul li,
#main article *[id^='block-'][id$='-local-actions'] > ul li {
  margin: 4px 2px 0;
  width: auto;
}

#main article *[id^='block-'][id$='-local-tasks'] > ul a,
#main article *[id^='block-'][id$='-tools'] > ul a,
#main article *[id^='block-'][id$='-account-menu'] > ul a,
#main article *[id^='block-'][id$='-local-actions'] > ul a {
  border-radius: 2px 2px 0 0;
  text-align: center;
  border-width: 0;
  padding: 7px 20px 5px;
  background: #ededed;
  text-decoration: none;
  min-width: 5em;
}

#main article *[id^='block-'][id$='-local-tasks'] > ul a.is-active,
#main article *[id^='block-'][id$='-tools'] > ul a.is-active,
#main article *[id^='block-'][id$='-account-menu'] > ul a.is-active,
#main article *[id^='block-'][id$='-local-actions'] > ul a.is-active {
  background: #bbd0df;
}

/* search form */
.search-block-form form, #search-block-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.search-block-form form .form-item, #search-block-form .form-item {
  flex-grow: 1;
  margin: 0 4px 0.5em !important;
  min-width: 180px;
  max-width: 492px;
  display: flex;
}

.search-block-form form .form-actions, #search-block-form .form-actions {
  margin: 0 4px 0.5em !important;
  display: flex;
}

/* search results */
#main .search-form {
  margin-bottom: 3em;
}

form.search-form:before {
  content: none !important;
}

.path-search #main .views-exposed-form, .search-results .views-exposed-form {
  margin-bottom: 0;
}

#main #search-form .container-inline,
.path-search #main .views-exposed-form form, .search-results .views-exposed-form form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-left: -4px;
  margin-right: -4px;
}

#main #search-form .container-inline .form-item,
.path-search #main .views-exposed-form form .form-item, .search-results .views-exposed-form form .form-item {
  flex-grow: 1;
  margin: 0.25em 4px 0 !important;
  max-width: 492px;
}

#main #search-form .container-inline > input,
.path-search #main .views-exposed-form form .form-actions, .search-results .views-exposed-form form .form-actions {
  margin: 0.25em 4px 0 !important;
}

#main #search-form .container-inline input,
.path-search #main .views-exposed-form form input, .search-results .views-exposed-form form input {
  height: 2.5em;
  margin-bottom: 0;
}

.search-help-link,
.path-search #main .view > header, .search-results .view > header,
.path-search #main .view-empty, .search-results .view-empty {
  display: inline-block;
  margin-top: 1.25em;
  padding: 0.3em 0.7em;
  text-decoration: none;
  color: #444;
  background: #f7f7f7;
  font-size: 13px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Avenir Next, "Segoe UI", Roboto, Helvetica Neue, sans-serif;
}

.path-search #main .view > header, .search-results .view > header,
.path-search #main .view-empty, .search-results .view-empty {
  display: block;
  text-align: center;
  margin: 3em 0 0.5em 0;
  padding: 0.5em 0;
}

.search-help-link:before {
  content: '\f1f5';
  margin-right: 0.3em;
  font-size: 16px;
  position: relative;
  top: 0.1em;
}

.path-search #main ol, .search-results ol {
  list-style: none;
  padding-left: 0;
}

.path-search #main ol h3, .search-results ol h3,
.path-search #main .views-field-title, .search-results .views-field-title {
  font-family: Avenir Next, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.path-search #main ol p, .search-results ol p,
.path-search #main .views-field-search-api-excerpt, .search-results .views-field-search-api-excerpt {
  font-size: 13px;
}

.path-search #main ol li, .search-results ol li {
  margin-bottom: 2em;
}

/* messages */
.messages {
  background: #f7f7f7;
  color: #333;
  padding: 20px 20px 20px 40px;
  overflow: hidden;
  clear: both;
  font-size: 13px;
  margin-bottom: 2.5em;
  border: 1px solid #ddd;
  border-left-width: 3px;
}

.messages + .messages {
  margin-top: -2em;
}

.messages .message__single:before, .messages .messages__item:before {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f1f7';
  position: absolute;
  margin-left: -23px;
  font-size: 16px;
  line-height: 1.3;
  padding: 0 1px;
  color: #555;
}

.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages--status {
  background-color: #f3faef;
  border-color: #c9e1bd;
}

.messages--warning {
  background-color: #fdf8ed;
  border-color: #f4daa6;
}

.messages--error {
  background-color: #fcf4f2;
  border-color: #f9c9bf;
}

.messages--error p.error {
  color: #a51b00;
}

.messages--status .message__single:before, .messages--status .messages__item:before {
  content: '\f269';
  color: #3b9c00;
}

.messages--warning .message__single:before, .messages--warning .messages__item:before {
  content: '\f1f4';
  color: #b97f01;
}

.messages--error .message__single:before, .messages--error .messages__item:before {
  content: '\f135';
  color: #ca0101;
}

/* section navigation menu */
.secondary-navigation.drupal-section-navigation .menu-item {
  display: none;
}

.secondary .menu-block-title + .secondary-navigation.drupal-section-navigation .menu-item, .secondary-navigation.drupal-section-navigation .menu-item--active-trail, .secondary-navigation.drupal-section-navigation .menu-item--active-trail .menu-item {
  display: block;
}

/* pager */
.pager {
  width: 100%;
  clear: both;
  border-top: 1px solid #ddd;
  padding-top: 30px;
}

.pager ul {
  padding-left: 0;
}

.pager ul li {
  display: inline-block;
  margin: 0 4px 8px 0;
  padding: 0;
  font-size: 13px;
  line-height: 2;
  border: 0;
}

.pager ul li a {
  display: inline-block;
  padding: 0 0.6em;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.pager ul li a:hover, .pager ul li a:focus {
  background: rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}

.pager ul li.pager-item a, .pager ul li.pager-current,
.pager ul li.pager__item a, .pager ul li.is-active a {
  min-width: 2.5em;
  min-height: 2em;
  padding: 0 0.6em;
  text-align: center;
}

.pager ul li.pager-current,
.pager ul li.is-active a {
  background: #3584ba !important;
  font-weight: 600;
  color: #fff;
  border: 1px solid #3584ba;
}

.ajax-progress-throbber {
  display: none !important;
}

/* views */
.view > footer {
  clear: both;
}

/* webforms */
.webform-element-help {
  margin: 0 0.75em;
  position: relative;
  top: -0.15em;
  border: 2px solid #767676;
  background: #767676;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.js-form-type-webform-markup {
  margin-bottom: 2.5em !important;
}

fieldset.webform-composite-hidden-title > legend {
  border: 0 !important;
  margin: 0 !important;
}

.webform-confirmation__message, .webform-confirmation__back {
  margin-bottom: 1.5em;
}

/* margin fix for error pages rendering an unwrapped text node to the DOM */
.error-page #main h1 {
  margin-bottom: 0.7em;
}

/* saml login */
#user-login-form {
  max-width: 600px;
}

.simplesamlphp-auth-login-link {
  display: inline-block;
  margin: 0.15em 0 0.75em;
  background: none !important;
  padding: 4px 10px;
  float: right;
  clear: right;
  font-size: 14px;
  text-decoration: underline !important;
}

.simplesamlphp-auth-login-link:before {
  content: '\f203';
  padding-right: 0.3em;
  color: #ccc;
  color: rgba(0, 0, 0, 0.3);
  font-size: 19px;
  position: relative;
  top: 0.1em;
}

.simplesamlphp-auth-login-link:hover:before {
  color: rgba(0, 0, 0, 0.55);
}

.simplesamlphp-auth-login-link:active:before {
  color: rgba(0, 0, 0, 0.35);
}

#edit-actions + .simplesamlphp-auth-login-link,
#edit-submit + .simplesamlphp-auth-login-link {
  float: none;
}

/*# sourceMappingURL=drupal.css.map */
