.events-listing{
    .cuenergy-events{
      .event-title-and-location a{
      font-size: 24px;
      margin-bottom: unset;
      }
      .views-row{
        margin-bottom: 20px;
      }

    }

    .event-month-and-day > div {
      color: #20417b;
      padding: 0;
      text-align: center;
      margin: 0 auto;
      width: 80%;
    }
}
