@import 'components/standard';
@import 'components/compact';
@import 'components/inline';
@import 'components/modern';

//common styles
$waThemeBlue: #4B7995;//4:70:1 on white
$waGoogleGreen: #2d863e;//4.57:1 on white
$waLightBlue: #017bb1;

/* Category Filters
  -------------------- */

#events-filters {
  float: left;
  width: 100%;
  margin: 10px 0;
  ul {
    margin: 0;
  }
  h3 {
    float: left;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 2px 8px 2px 0;
  }
  }
  
ul.events-filters li {
  float: left;
  list-style: none;
  background: none;
  line-height: 24px;
  margin: 0 5px 5px 0;
  padding: 0;
  button {
    float: left;
    padding: 5px 13px 5px;
    background: #e7eff3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none !important;
    border-style: none;
    &.active {
      color: #fff !important;
      background: $waThemeBlue !important;
    }
      &:hover {
      background: #d3e1e8;
      color: #000;
    }
  }
}

/* hide / show 
    -used for filtered event nodes 
  -------------------------------------*/
/*@ todo make this actually fade out */
.fadeOut {
  display: none;
}

.fadeIn {
  display: block;
}
  
  /* Animated Loading Icon
    -------------------- */
  
#loader {
  /*display: none;*/
  position: absolute;
  left: 45%;
  left: calc(50% - 25px);
  top: 60px;
  width: 50px;
  text-align: center;
  font-size: 24px;
  color: #ccc;
  color: rgba(0, 0, 0, 0.2);
  }


/* Add To Calendar 
  -----------------*/
.google {
    color: $waGoogleGreen !important;
  }
  
.microsoft {
  color: $waLightBlue !important;
}

.apple {
  color: #545a5f !important;
}

/* required change to visually hidden*/
.hidden {
  position: absolute;
  left: -10000em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}