

//common styles
$waThemeBlue: #4B7995;//4:70:1 on white
$waGoogleGreen: #2d863e;//4.57:1 on white
$appleBlueGray: #545a5f;
$waLightBlue: #017bb1;
$black: #000;
$lightblack: #111;
$lightblackalpha: rgba(0, 0, 0, 0.2);
$alphagrey: rgba(0, 0, 0, 0.05);
$grey: #767676;
$red: #b31b1b;
$lightgrey: #ccc;
$lightblue: #127cb5;
$lighterblue: #d3e1e8;
$lightestblue: #e7eff3;
$white: #fff;
$offwhite: #fcf3e1;

/* Category Filters
  -------------------- */
.cwd-events-style{
    @import 'components/paginator';
    @import 'components/standard';
    @import 'components/compact';
    @import 'components/inline';
    @import 'components/modern';
    @import 'components/cuenergy';

    &.cwd_events_readmore {
        float: right;
        margin-top: 0.5em;
        position: relative;
        z-index: 1;
        font-size: 15px;
      }

    .cwd-card-grid .group-image{
        width: 100%;
    }

  .event-subscribe {
    float: right;
    font-size: 13px;
    padding-bottom: 20px;
    > a {
        width: auto !important;
        font-size: 20px;
        padding-right: 8px;
        color: $lightblack;
        text-decoration: none;
        display: inline-block !important;
    }
    a:first-child {
      padding-left: 10px;
    }
    /* Add To Calendar
    -----------------*/
    .google {
        color: $waGoogleGreen !important;
        background: transparent !important;
        box-shadow: none !important;
      }

    .microsoft {
      color: $waLightBlue !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    .apple {
      color: $appleBlueGray !important;
      background: transparent !important;
      box-shadow: none !important;
    }


  }

  .events-filters-wrap {
    float: left;
    width: 100%;
    margin: 10px 0px 20px 0px;
    ul {
      margin: 0;
    }
    h3 {
      float: left;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      padding: 2px 8px 2px 0;
    }
    }

  ul.events-filters li {
    float: left;
    list-style: none;
    background: none;
    line-height: 24px;
    margin: 0 5px 5px 0;
    padding: 0;
    button {
      float: left;
      padding: 5px 13px 5px;
      background: $lightestblue;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      text-decoration: none !important;
      border-style: none;
      &.active {
        color: $white!important;
        background: $waThemeBlue !important;
      }
        &:hover {
        background: $lighterblue;
        color: $black;
      }
    }
  }

  /* hide / show
      -used for filtered event nodes
    -------------------------------------*/
  /*@ todo make this actually fade out */
  .fadeOut {
    display: none;
  }

  .fadeIn {
    display: block;
  }

    /* Animated Loading Icon
      -------------------- */

  div.loader {
    width: 50px;
    text-align: center;
    font-size: 24px;
    color: $lightgrey;
    color: $lightblackalpha;
    margin: auto;
    }

  /* required change to visually hidden*/
  .hidden {
    position: absolute;
    left: -10000em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
