/* Events */
#eventsModernCompact,
#eventsModernStandard{

  #elements {
    margin: 0 auto 2.5em;
    max-width: 480px;
    float: none;
  }

  .card{
      border: none;
  }

  .cwd-component .events {
    .field {
      clear: both;
    }
    time {
      width: auto;
      min-height: 0;
      margin: 0 0 1em;
      .month {
        float: left;
        font-size: 15px;
        line-height: 1;
        font-weight: 400;
        padding: 9px 12px;
        // background: #b83739;
        // color: #f8e0c4;
        text-transform: uppercase;
      }
      .day {
        float: left;
        font-size: 15px;
        line-height: 1;
        font-weight: 400;
        padding: 9px 12px;
      }
    }

    h3 {
      width: 100%;
      font-size: 21px;
      line-height: 1.4;
      margin-bottom: 0.25em;
      font-family: Iowan Old Style, Georgia, Athelas, Baskerville, Sitka Display, Constansia, serif;
    }
    .meta {
      color: $grey;
      font-size: 13px;
      font-weight: 400;
    }
  }

  .events-listing > div.events-list > div > div > a {
    margin: 0px 0 25px 0 !important;
  }

  .cwd-component .events a {
    // display: block;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: $black;
    transition: background 0.15s, box-shadow 0.15s;
    &:hover h3, &:focus h3 {
      text-decoration: underline;
      color: $lightblue;
    }
    &:active h3 {
      color: $black;
    }
    &:hover, &:focus {
      background: $alphagrey;
      box-shadow: 0 0 0 15px $alphagrey;
    }
    &:active {
      background: rgba(0, 0, 0, 0.09);
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.09);
    }
  }

  a.view-all-events {
    display: inline-block;
    text-decoration: none;
    text-align: right;
    width: 100%;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  .padded-left {
    padding-left: 10px;
  }

  .events-filters-wrap ul {
    margin-bottom: 5px !important;
  }

  .inline-events-type {
    float: none;
    padding: 2px 8px 1px;
    background: $offwhite;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none !important;
    color: $black;
    margin-left: 10px;
  }

  img {
        float: left;
        margin: 0 20px 0px 0px;
        object-fit: cover;
        object-position: 100% 0;
        width: 200px;
        height: 150px;
    }

    .group-image {
        width: 100%;
        img {
            vertical-align: middle;
            width: 100%;
            height: auto;
            border-bottom: 8px solid $red;
            margin-bottom: 1em;
        }
    }

}
