
@media all {
    .pager ul {
        padding-left: 0;
    }
    .pager ul li {
        display: inline-block;
        margin: 0 4px 8px 0;
        padding: 0;
        font-size: 13px;
        line-height: 2;
        border: 0;
    }
    .pager ul li a {
        display: inline-block;
        padding: 0 0.6em;
        text-decoration: none;
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid rgba(0, 0, 0, 0.05);
    }
    .pager ul li a:hover,
    .pager ul li a:focus {
        background: rgba(0, 0, 0, 0.06);
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #000;
    }
    .pager ul li.pager__item a,
    .pager ul li.is-active a {
        min-width: 2.5em;
        min-height: 2em;
        padding: 0.2em 0.6em;
        text-align: center;
    }
    .pager ul li.is-active a {
        background: #3584ba !important;
        font-weight: 600;
        color: #fff;
        border: 1px solid #3584ba;
    }
}
