/*! CSS Used from: https://d8-psw.lndo.site/core/themes/seven/css/components/vertical-tabs.css?pwhrgn ; media=all */
@media all{
    .vertical-tabs{position:relative;overflow:hidden;margin:10px 0;border:1px solid #bdbdbd;border-radius:4px;background:#e6e5e1;}
    .vertical-tabs__menu{float:left;width:240px;margin:0 -100% -1px 0;padding:0;border-bottom:1px solid #ccc;line-height:1;}
    .vertical-tabs__menu-item{position:relative;}
    .vertical-tabs__menu-item.is-selected{z-index:1;overflow-x:hidden;width:100%;border-right:1px solid #fcfcfa;border-bottom:1px solid #b3b2ad;box-shadow:0 5px 5px -5px hsla(0, 0%, 0%, 0.3);}
    .vertical-tabs__menu-item.last{border-bottom:none;}
    .vertical-tabs__menu-item:focus,.vertical-tabs__menu-item:active{z-index:2;}
    .vertical-tabs__menu-item a{display:block;padding:10px 15px 15px;text-decoration:none;border-bottom:1px solid #b3b2ad;background-color:#f2f2f0;text-shadow:0 1px hsla(0, 0%, 100%, 0.6);}
    .vertical-tabs__menu-item:last-child a{border-bottom:0;}
    .vertical-tabs__menu-item.is-selected a,.vertical-tabs__menu-item a:hover,.vertical-tabs__menu-item a:focus{background:#fcfcfa;text-shadow:none;}
    .vertical-tabs__menu-item a:focus{outline:none;}
    .vertical-tabs__menu-item a:focus .vertical-tabs__menu-item-title{text-decoration:underline;}
    .vertical-tabs__menu-item a:active .vertical-tabs__menu-item-title,.vertical-tabs__menu-item.is-selected a:focus .vertical-tabs__menu-item-title{text-decoration:none;}
    .vertical-tabs__menu-item.is-selected a{padding-left:11px;text-decoration:none;color:#004f80;border-bottom:none;}
    .vertical-tabs__menu-item.is-selected a:hover,.vertical-tabs__menu-item.is-selected a:focus{color:#007ecc;}
    [data-vertical-tabs-panes]{background-color:#fcfcfa;}
    .vertical-tabs__panes{margin:0 0 0 240px;padding:10px 15px 10px 15px;border-left:1px solid #a6a5a1;}
    .vertical-tabs__panes:after{display:table;clear:both;content:"";}
    .vertical-tabs__pane{margin:0;padding:0;color:#595959;border:0;}
    .vertical-tabs__menu-item-summary{display:block;padding-top:0.4em;color:#666;}
    .vertical-tabs__pane > summary{display:none;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/assets/vendor/normalize-css/normalize.css?pwhrgn ; media=all */
    @media all{
    details,summary{display:block;}
    a{background-color:transparent;}
    a:active,a:hover{outline:0;}
    strong{font-weight:bold;}
    small{font-size:80%;}
    button,input,select,textarea{color:inherit;font:inherit;margin:0;}
    button{overflow:visible;}
    button,select{text-transform:none;}
    button,input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
    button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
    input{line-height:normal;}
    input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
    fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
    legend{border:0;padding:0;}
    textarea{overflow:auto;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/misc/normalize-fixes.css?pwhrgn ; media=all */
    @media all{
    @media (min--moz-device-pixel-ratio: 0){
    summary{display:list-item;}
    }
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/stable/css/system/components/fieldgroup.module.css?pwhrgn ; media=all */
    @media all{
    .fieldgroup{padding:0;border-width:0;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/stable/css/system/components/clearfix.module.css?pwhrgn ; media=all */
    @media all{
    .clearfix:after{display:table;clear:both;content:"";}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/stable/css/system/components/hidden.module.css?pwhrgn ; media=all */
    @media all{
    .visually-hidden{position:absolute!important;overflow:hidden;clip:rect(1px, 1px, 1px, 1px);width:1px;height:1px;word-wrap:normal;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/stable/css/system/components/resize.module.css?pwhrgn ; media=all */
    @media all{
    .resize-vertical{min-height:2em;resize:vertical;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/assets/vendor/jquery.ui/themes/base/core.css?pwhrgn ; media=all */
    @media all{
    .ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}
    .ui-helper-clearfix:after{clear:both;}
    .ui-front{z-index:100;}
    .ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/assets/vendor/jquery.ui/themes/base/button.css?pwhrgn ; media=all */
    @media all{
    .ui-button{padding:.4em 1em;display:inline-block;position:relative;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:visible;}
    .ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none;}
    .ui-button-icon-only{width:2em;box-sizing:border-box;text-indent:-9999px;white-space:nowrap;}
    .ui-button-icon-only .ui-icon{position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-8px;}
    button.ui-button::-moz-focus-inner{border:0;padding:0;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/stable/css/system/system.admin.css?pwhrgn ; media=all */
    @media all{
    small .admin-link:before{content:" [";}
    small .admin-link:after{content:"]";}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/stable/css/block/block.admin.css?pwhrgn ; media=all */
    @media all{
    .block-form .form-item-settings-admin-label label{display:inline;}
    .block-form .form-item-settings-admin-label label:after{content:":";}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/seven/css/base/elements.css?pwhrgn ; media=all */
    @media all{
    a,.link{text-decoration:none;color:#0074bd;}
    a:hover,.link:hover,a:focus,.link:focus{text-decoration:underline;outline:0;}
    summary{text-transform:uppercase;font-weight:bold;}
    small{font-size:smaller;}
    ul{margin:0.25em 0 0.25em 1.5em;list-style-type:disc;list-style-image:none;}
    details{line-height:1.295em;}
    details summary{padding:0.95em 1.45em;}
    details summary:focus{text-decoration:underline;outline:none;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/seven/css/base/print.css?pwhrgn ; media=all */
    @media all{
    @media print{
    *{color:#000!important;background-color:transparent!important;box-shadow:none!important;text-shadow:none!important;}
    a,a:visited{text-decoration:underline;}
    a,.link{text-decoration:underline;color:#000;}
    .button,.button--primary{background:none!important;}
    input.form-text,input.form-number,textarea.form-textarea,select.form-select{border-width:1px;}
    }
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/classy/css/components/button.css?pwhrgn ; media=all */
    @media all{
    .button{margin-right:1em;margin-left:1em;}
    .button:first-child{margin-right:0;margin-left:0;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/classy/css/components/form.css?pwhrgn ; media=all */
    @media all{
    .form-item,.form-actions{margin-top:1em;margin-bottom:1em;}
    .form-item .description{font-size:0.85em;}
    label.option{display:inline;font-weight:normal;}
    .form-composite > legend{display:inline;margin:0;padding:0;font-size:inherit;font-weight:bold;}
    .form-checkboxes .form-item,.form-radios .form-item{margin-top:0.4em;margin-bottom:0.4em;}
    .form-type-checkbox .description{margin-left:2.4em;}
    .form-required:after{display:inline-block;width:6px;height:6px;margin:0 0.3em;content:"";vertical-align:super;background-image:url(icons/ee0000/required.svg);background-repeat:no-repeat;background-size:6px 6px;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/classy/css/components/link.css?pwhrgn ; media=all */
    @media all{
    button.link{margin:0;padding:0;cursor:pointer;border:0;background:transparent;font-size:1em;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/classy/css/components/textarea.css?pwhrgn ; media=all */
    @media all{
    .form-textarea-wrapper textarea{display:block;box-sizing:border-box;width:100%;margin:0;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/seven/css/components/jquery.ui/theme.css?pwhrgn ; media=all */
    @media all{
    .ui-widget{/* background:none; */}
    .ui-widget-content{border:none;}
    .ui-icon{display:block;overflow:hidden;width:16px;height:16px;text-indent:-99999px;background-image:url(https://d8-psw.lndo.site/core/themes/seven/images/ui-icons-222222-256x240.png);background-repeat:no-repeat;}
    .ui-widget-content .ui-icon,.ui-widget-header .ui-icon{background-image:url(https://d8-psw.lndo.site/core/themes/seven/images/ui-icons-222222-256x240.png);}
    .ui-icon-closethick{background-position:-96px -128px;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/seven/css/components/buttons.css?pwhrgn ; media=all */
    @media all{
    .button{position:relative;display:inline-block;box-sizing:border-box;padding:4px 1.5em;cursor:pointer;-webkit-transition:all 0.1s;transition:all 0.1s;text-align:center;text-decoration:none;color:#333;border:1px solid #a6a6a6;border-radius:20em;background-color:#f2f1eb;background-image:-webkit-linear-gradient(top, #f6f6f3, #e7e7df);background-image:linear-gradient(to bottom, #f6f6f3, #e7e7df);text-shadow:0 1px hsla(0, 0%, 100%, 0.6);font-size:14px;font-size:0.875rem;font-weight:600;line-height:normal;-webkit-appearance:none;-moz-appearance:none;-webkit-font-smoothing:antialiased;}
    .button:hover,.button:focus{text-decoration:none;color:#1a1a1a;outline:none;background-color:#f9f8f6;background-image:-webkit-linear-gradient(top, #fcfcfa, #e9e9dd);background-image:linear-gradient(to bottom, #fcfcfa, #e9e9dd);}
    .button:hover{box-shadow:0 1px 2px hsla(0, 0%, 0%, 0.125);}
    .button:focus{z-index:10;border:1px solid #3ab2ff;box-shadow:0 0 0.5em 0.1em hsla(203, 100%, 60%, 0.7);}
    .button:active{-webkit-transition:none;transition:none;border:1px solid #a6a6a6;background-color:#dfdfd9;background-image:-webkit-linear-gradient(top, #f6f6f3, #e7e7df);background-image:linear-gradient(to bottom, #f6f6f3, #e7e7df);box-shadow:inset 0 1px 3px hsla(0, 0%, 0%, 0.2);}
    .button--primary{color:#fff;border-color:#1e5c90;background-color:#0071b8;background-image:-webkit-linear-gradient(top, #007bc6, #0071b8);background-image:linear-gradient(to bottom, #007bc6, #0071b8);text-shadow:0 1px hsla(0, 0%, 0%, 0.5);font-weight:700;-webkit-font-smoothing:antialiased;}
    .button--primary:hover,.button--primary:focus{color:#fff;border-color:#1e5c90;background-color:#2369a6;background-image:-webkit-linear-gradient(top, #0c97ed, #1f86c7);background-image:linear-gradient(to bottom, #0c97ed, #1f86c7);}
    .button--primary:focus{border:1px solid #1280df;}
    .button--primary:hover{box-shadow:0 1px 2px hsla(203, 10%, 10%, 0.25);}
    .button--primary:active{border-color:#144b78;background-image:-webkit-linear-gradient(top, #08639b, #0071b8);background-image:linear-gradient(to bottom, #08639b, #0071b8);box-shadow:inset 0 1px 3px hsla(0, 0%, 0%, 0.2);}
    .button:disabled,.button:disabled:active{cursor:default;color:#5c5c5c;border-color:#d4d4d4;background:#ededed;box-shadow:none;text-shadow:0 1px hsla(0, 0%, 100%, 0.6);font-weight:normal;}
    .link{display:inline;padding:0;cursor:pointer;text-decoration:none;color:#0074bd;border:0;background:none;-webkit-appearance:none;-moz-appearance:none;}
    .link:hover,.link:focus{text-decoration:underline;color:#008ee6;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/seven/css/components/details.css?pwhrgn ; media=all */
    @media all{
    .seven-details{margin-top:1em;margin-bottom:1em;border:1px solid #bfbfbf;border-radius:3px;background-color:#fcfcfa;}
    .seven-details__summary{cursor:pointer;color:#0074bd;text-shadow:0 1px 0 white;}
    .seven-details__summary:hover,.seven-details__summary:focus,.seven-details[open] > .seven-details__summary{color:#004f80;}
    .seven-details__wrapper{padding:0 1.5em 1em 1.5em;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/seven/css/components/form.css?pwhrgn ; media=all */
    @media all{
    form{margin:0;padding:0;}
    .fieldgroup{min-width:0;}
    @media (min--moz-device-pixel-ratio: 0){
    .fieldgroup{display:table-cell;}
    }
    .form-item{margin:0.75em 0;}
    .form-type-checkbox{padding:0;}
    label{display:table;margin:0 0 0.1em;padding:0;font-weight:bold;}
    label[for]{cursor:pointer;}
    .form-item label.option{text-transform:none;}
    .form-required:after{width:7px;height:7px;background-size:7px 7px;}
    div.description,.form-item .description{margin:0.2em 0 0 0;color:#595959;font-size:0.95em;}
    .form-type-checkbox .description{margin-left:1.5em;}
    .form-text,.form-textarea{border-radius:2px;font-size:1em;line-height:normal;}
    input.form-text,input.form-number,textarea.form-textarea{box-sizing:border-box;max-width:100%;padding:0.3em 0.4em 0.3em 0.5em;-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s;color:#595959;border:1px solid #b8b8b8;border-top-color:#999;border-radius:2px;background:#fcfcfa;box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.125);font-size:1em;}
    .form-text:focus,.form-number:focus,.form-textarea:focus{border-color:#40b6ff;outline:0;background-color:#fff;box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px #40b6ff;}
    select{max-width:100%;}
    @media screen and (-webkit-min-device-pixel-ratio: 0){
    select{padding:1px 1.571em 1px 0.5em;cursor:pointer;-webkit-transition:all 0.1s;transition:all 0.1s;border:1px solid #a6a6a6;border-radius:0.143em;background:url(icons/333333/caret-down.svg) no-repeat 99% 63%,       -webkit-linear-gradient(top, #f6f6f3, #e7e7df);text-shadow:0 1px hsla(0, 0%, 100%, 0.6);font-size:0.875rem;-webkit-appearance:none;-webkit-font-smoothing:antialiased;}
    select:focus,select:hover{color:#1a1a1a;background-image:url(/css/drupal/icons/333333/caret-down.svg),       -webkit-linear-gradient(top, #fcfcfa, #e9e9dd);}
    select:hover{box-shadow:0 1px 2px hsla(0, 0%, 0%, 0.125);}
    }
    @media screen and (max-width: 600px){
    input.form-text,input.form-number,textarea.form-textarea{width:100%;font-size:1.2em;line-height:1.2em;}
    input.form-number{width:auto;}
    .form-actions input,.form-wrapper input[type="submit"]{float:none;width:100%;margin-top:10px;margin-right:0;margin-left:0;padding-bottom:6px;}
    .form-actions input:first-child,.form-wrapper input[type="submit"]:first-child{margin-top:0;}
    details summary{overflow:hidden;box-sizing:border-box;white-space:nowrap;text-overflow:ellipsis;}
    select{width:100%;}
    }
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/seven/css/components/views-ui.css?pwhrgn ; media=all */
    @media all{
    .form-radios > .form-item{margin-top:3px;}
    }
    /*! CSS Used from: https://d8-psw.lndo.site/core/themes/seven/css/components/dialog.css?pwhrgn ; media=all */
    @media all{
    .ui-dialog{/* position:absolute; *//* z-index:1260; *//* padding:0; *//* border:0; *//* background:transparent; */}
    @media all and (max-width: 48em){
    .ui-dialog{min-width:92%;max-width:92%;}
    }
    .ui-dialog .ui-dialog-titlebar{padding:15px 49px 15px 15px;border-top-left-radius:5px;border-top-right-radius:5px;background:#6b6b6b;}
    .ui-dialog .ui-dialog-title{margin:0;color:#fff;font-size:1.231em;font-weight:600;-webkit-font-smoothing:antialiased;}
    .ui-dialog .ui-dialog-titlebar-close{position:absolute;top:10px;right:12px;width:30px;height:30px;margin:0;padding:0;-webkit-transition:all 0.1s;transition:all 0.1s;border:3px solid #6b6b6b;border-radius:5px;background:none;}
    .ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{border-color:#fff;}
    .ui-dialog .ui-icon.ui-icon-closethick{margin-top:-8px;background:url(/css/drupal/icons/ffffff/ex.svg) 0 0 no-repeat;}
    .ui-dialog .ui-widget-content.ui-dialog-content{overflow:auto;padding:1em;background:#fff;}
    .ui-dialog .ui-widget-content.ui-dialog-buttonpane{margin:0;padding:15px 20px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;background:#f5f5f2;}
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:none;margin:0;padding:0;}
    .ui-dialog .ui-dialog-content{position:static;}
    .ui-dialog .ui-dialog-content .form-actions{margin:0;padding:0;}
    }
